.reset-page{
    background:#f7f9fc;
    min-height:100vh;
}

.card{
    border-radius:25px;
}

.form-control{
    height:55px;
    border-radius:12px;
}

.btn-success{
    background:#6B9080;
    border:none;
}

.btn-success:hover{
    background:#557A6A;
}

img{
    width:100%;
    height:650px;
    object-fit:cover;
}